* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

img {
  width: 120px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  display: flex;
  border: 1px solid #ccc;
  margin: 16px;
  padding: 16px;
  flex-direction: column;
}

.title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
}
